

__pycache__
.pytest_cache
*.o
*.output

main
cplus11
lambda
containers
use-vector
findmaxcnt
smartpointer
function-template
class-template
varargs
friend-class 
friend-function
vec2d
line
use-fstream
use-sstream
use-iostream
use-namespace

